<div>
  <h1>Merchandise</h1>
  <hr class="title-line">
  <ol>
    <li>Amazon
      <ul>
        <li>2.9% Domestic Fee</li>
        <li>3.9% International Fee</li>
        <li>+$0.30 per transaction</li>
        <a href="https://pay.amazon.com/us/help/201212280">Site</a>
      </ul>
    </li>

    <li>Paypal
      <ul>
        <li>2.9% Fee</li>
        <li>+$0.30 per transaction</li>
        <li>4.4% transaction fee plus a fixed fee based on currency received</li>
        <a href="https://hc.weebly.com/hc/en-us/articles/227306128-Accept-Payments">Site</a>
      </ul>
    </li>

    <li>Stripe
      <ul>
        <li>2.9% Fee</li>
        <li>+$0.30 per transaction</li>
        <a href="https://hc.weebly.com/hc/en-us/articles/227306128-Accept-Payments">Site</a>
      </ul>
    </li>

    <li>Braintree
      <ul>
        <li>2.9% Fee</li>
        <li>+$0.30 per transaction</li>
        <a href="https://www.braintreepayments.com/braintree-pricing">Site</a>
      </ul>
    </li>

    <li>Big Cartel
      <ul>
        <li>Free 5 Products</li>
        <li>$9.99/Month 25 Products</li>
        <li>$19.99/Month 100 Products</li>
        <li>$29.99/Month 300 Products</li>
        <li>Cons - User will be redirected to big cartel site</li>
        <a href="https://www.bigcartel.com/signup/">Site</a>
      </ul>
    </li>
  </ol>
</div>