nav {
  margin-bottom: 2rem;
}

ul {
    display: inline-block;
    list-style-type: none;
    text-align: justify;
    /*width: 100%;*/
    /*background-color: #eee;*/
    /*border: 1px solid #ccc;*/
    border-radius: 5px;
    padding-left: 0;
    text-align: center;
}

li {
    display: table-cell;
    width: .25%;
    /*border: solid;*/
    border-width: 1px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}


/*nav {
  width: 100%;
  padding: 0 5%;
  text-align: justify;
}

nav a {
  padding: 1% 4.5%;
  text-decoration: none;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

nav a.active {
  color: #039be5;
}*/

