<div>
  <h1>Contact</h1>
  <hr class="title-line">
  <div>
    To get in contact with us, hit us up directly by Email or via Social Media on Facebook, Instagram, Twitter, or BandCamp.
    <br>
    <br>
    <table>
      <th>Booking Information</th>
      <tr>
        <td>Email: </td>
        <td>los2x4s@gmail.com</td>
      </tr>
      <tr>
        <td>Facebook: </td>
        <td>Los 2x4s Face</td>
      </tr>
      <tr>
        <td>Instagram: </td>
        <td>Los 2x4s Insta</td>
      </tr>
      <tr>
        <td>Twitter: </td>
        <td>Los 2x4s Twitter</td>
      </tr>
      <tr>
        <td>BandCamp: </td>
        <td>Los 2x4s Band Camp</td>
      </tr>
      
    </table>

  </div>
</div>