h1 {
    text-align: center;
}

#mainPage {
    padding: 30px;
}

footer {
    margin: 0 0 0 10px;
    font-size: .85em;
}

.title-line {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

#bandLogo img {
    width: 100%;
}