/*.carousel-inner {
    position: relative;
    height: 400px;
    overflow: hidden;
}*/


img {
    width: 100%;
}

.carousel-caption {
    color: black;
}

.feature-divider {
    margin: 3rem 0;
}

.title-line {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
    margin: 0 0 25px 0;
}

#carouselExampleIndicators {
    height: 80%;
}