#musicPlayer {
    /*float: left;*/
}

#albumContainer {
    /*position: relative;*/
}

#bandCover {
    /*float: left;*/
    /*width: 30%;
    height: 30%;*/
}

img {
    width: 100%;
    /*width: 33vw;*/
}

#songList ol {
    /*list-style-position: inside;*/
    padding: 0 0 0 18%;
}

#songList {
    text-align: center;
}

#songList li {
    text-align: left;
    padding: 0 0 0 2.5%;
    /*font-size: 1.5em;*/
}

#lyrics {
    padding: 5%;
}

.title-line {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
    margin: 0 0 25px 0;
}

#songName {
    /*color: darkred;*/
    font-size: 1.8em;
}

