<div>
  <h1>Songs</h1>
  <hr class="title-line">
  <div id="albumContainer" class="row">
    <div id="bandCover" class="col-lg-4 col-md-5 col-sm-6">
      <img src="https://f4.bcbits.com/img/a2723759678_10.jpg" alt="">
    </div>

    <div id="songList" class="col-lg-4 col-md-5 col-sm-6">
      <h3>Playlist</h3>
      <hr class="title-line">
      <ol>
        <li *ngFor="let song of songsList, let indx = index">
          <a (click)="songClick($event, this, indx)" id="songName"> {{ song }} </a>
          <div [hidden]="songsListShow[indx]" id="lyrics">
            This is the lyrics and its going to be long <br>
            This is more lyrics and its also going to be long<br>
            This is even more lyrics and its even gona be more long
          </div>

        </li>
        <!--<li>
          <a (click)="showLyrics = showLyrics ? false : true"> Surfwood </a>
          <div [hidden]="!showLyrics">
            This is the lyrics<br>
            This is more lyrics<br>
            This is even more lyrics
          </div>
        </li>

        <li>Carnies</li>
        <li>Horchata</li>
        <li>Mary Jane</li>
        <li>Away It Goes</li>
        <li>Square Peg</li>-->
      </ol>
    </div>

    <div id="musicPlayer" class="col-lg-4 col-md-5 col-sm-6">
      <iframe style="border: 0; width: 100%; height: 340px;" src="https://bandcamp.com/EmbeddedPlayer/album=2423316713/size=large/bgcol=ffffff/linkcol=e99708/artwork=none/transparent=true/" seamless>
        <a href="http://los2x4s.bandcamp.com/album/in-case-you-missed-it">In Case You Missed It by Los 2x4&#39;s</a>
      </iframe>
    </div>
  </div>

  <br>
  <h1>Music Videos</h1>
  <hr class="title-line">
  <div id="musicVids">
    <table>
      <tr>
        <td><iframe width="560" height="315" src="https://www.youtube.com/embed/NdSL69v3iPo" frameborder="0" allowfullscreen></iframe></td>
        <td><iframe width="560" height="315" src="https://www.youtube.com/embed/bwhrixsKFK8" frameborder="0" allowfullscreen></iframe></td>
      </tr>
      <tr>
        <td>Doin Time - Live Uptown Dub</td>
        <td>Ojos Verdez - Skawars 2016</td>
      </tr>
      
      <tr>
        <td><iframe width="560" height="315" src="https://www.youtube.com/embed/YxEfSzHGvJc" frameborder="0" allowfullscreen></iframe></td>
        <td><iframe width="560" height="315" src="https://www.youtube.com/embed/7uvULsv1CyM?list=RD7uvULsv1CyM" frameborder="0" allowfullscreen></iframe></td>
      </tr>
      <tr>
        <td>Mary Jane - Skawars 2016</td>
        <td>La Perseguida - Skawars 2015</td>
      </tr>
    </table>
  </div>


</div>