.picsPage {
    /*height: 2000px;*/
}

.widgetPage {
    height: 100vh;
}

.title-line {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
    margin: 0 0 25px 0;
}